@font-face {
  font-family: 'Lab Grotesque';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('assets/fonts/LabGrotesque-Regular.woff2') format('woff2'),
  url('assets/fonts/LabGrotesque-Regular.woff') format('woff'),
  url('assets/fonts/LabGrotesque-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('assets/fonts/LabGrotesque-Bold.woff2') format('woff2'),
  url('assets/fonts/LabGrotesque-Bold.woff') format('woff'),
  url('assets/fonts/LabGrotesque-Bold.ttf') format('truetype');

}